{
	"env": {
		"browser": true,
		"es6": true,
		"jquery": true
	},
	"extends": ["airbnb/base"],
	"parser": "@babel/eslint-parser",
	"rules": {
		"indent": ["error", "tab"],
		"no-tabs": "off",
		"no-alert": "error",
		"import/no-extraneous-dependencies": ["error", {
			"devDependencies": [
				"gulpfile.babel.js",
				"gulp/**/*.js"
			]
		}]
	}
}
