* text=auto

# Графика
*.png		binary
*.jpg 	binary
*.jpeg 	binary
*.gif 	binary
*.webp 	binary
*.ico 	binary
*.eps 	binary
*.svg 	text

# Шрифты
*.woff	binary
*.woff2	binary
*.ttf		binary
*.eot		binary
*.otf		binary

# Файлы
*.html	text
*.pug		text
*.css		text
*.styl	text
*.sass	text
*.scss	text
*.json	text
*.cson	text
*.js		text
*.md	text diff=markdown
*.mdx	text diff=markdown
