include ../components/header
include ../components/footer

block variables

doctype html
html(lang="ru")
	include head

	body
		.wrapper
			+header()
			main.content
				block main
			+footer()

		script(src="./js/script.min.js") 
